<body>
    <input id="start" name="start" value="">
    <input id="end" name="end" value="">

    <script
        src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
    <script src="mobiscroll.jquery.trial_n/js/mobiscroll.jquery.min.js"></script>

    <script>
        $("#start").mobiscroll().range({
        context: window.top.document.body,
        theme: 'material',
        endInput: '#end',
        months: 'auto',
        yearChange: false,
        defaultValue: [new Date()],
    });
    </script>
</body>